/*https://colorhunt.co/palette/5671897b8fa1cfb997fad6a5

567189
7B8FA1
CFB997
FAD6A5
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    user-select: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
nav{

    display: flex;
    position: fixed;
    width: 100vw;
    transition: margin-left 1.2s;

}
nav ul{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;

}
nav ul li{
    list-style: none;
}
.button-nav{
    background: #fff5;
    border: none;
    display: block;
    width: 100px;
    height: 8vh;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    transition: background .5s;
}
.button-nav:hover{
    background: #fff;
}
.button-nav:active{
    background: #fad6a5;
}
body{
    display: flex;
    flex-direction: row;
    width: 400vw;
    overflow: hidden;
    transition: margin-left 1s;
/*    margin-left: -100vw;*/
}
section {
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #FAD6A5;
}
.main{
    background: #567189;
}

.imagen-main, .contenido-main{
	width: 50%;
}
.contenido-main{
	display: flex;
    flex-direction: column;
    gap: 12px;
}
.conocimientos{
    background: #7B8FA1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-directiaon: row;
    align-items: center;
    gap: 10px;
}
.conocimiento{
    color: #7B8FA1;
	display: flex;
    background: #fff;
    width: 32vw;
    height: 25vh;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.conocimiento img{
    width: 100px;
    height: 100px;
}







.sobre-mi{
    background: #CFB997;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sobre-mi p{
    background: #567189;
    padding: 50px 10px 50px 20px;
    border-radius: 0px 30px 30px 0px;
    color: #fff;
    text-align: justify;
}
.sobre-mi p, .sobre-mi h2{
	width: 45%;
}
.sobre-mi h2{
    color: #000;
    padding-left: 10%;
}

.contacto{
    background: #FAD6A5;
}
.contacto form {
    align-items: center;
    background: #3C2A21;
    width: 60vw;
    height: 76vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4%;
    border-radius: 40px;
}
.contacto form textarea{
    height: 100px;

    resize: none;
}
.contacto form input, .contacto form textarea{
    width: 80%;
    background: none;
    border: solid 1px #fad6a5;
    padding: 8px;
    border-radius: 12px;
}
.contacto form button {
    background: #fad6a5;
    padding: 10px;
    border: none;
    border-radius: 12px;
    width: 50%;
    height: 40px
}